@media only screen and (min-width : 280px) {
    
}

@media only screen and (min-width : 320px) {
    
}

@media only screen and (min-width : 375px) {
    
}

@media only screen and (min-width : 425px) {
}

@media only screen and (min-width : 768px) {
    .grid-all {
        grid-template-columns: repeat(2, 1fr);
    }

    .btn-more button {
        width: auto;
    }

    .header {
        padding-bottom: 15px;
    }

    .header > div {
        text-align: center;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .div-img-header {
        padding-top: 30px;
    }

    .description, .div-img-header {
        flex: .5;
    }

    .description h1 {
        line-height: 59px;
    }

    .description .div-2 {
        margin: 8px auto;
        width: 430px;
    }

    .section-of-avatar {
        display: flex;
        align-items: center;
        padding: 70px;
    }

    .section-of-avatar > div {
        flex: .5;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .div-of-rachid-desc p {
        width: 411px;
        font-size: 21px;
        line-height: 2.5;
    }

    .div-h2 {
        max-width: 50%;
        padding: 8px;
        border-radius: 30px;
    }

    .slide-mg {
        width: 80%;
        margin: 20px auto;
        height: 450px;
    }

    .single-item img {
        height: 350px;
        object-fit: cover;
        object-position: center;
    }

    .slide-desc {
        border-radius: 40px;
        font-size: 16px;
    }

    .slide-price {
        padding: 6px 23px;
        font-size: 20px;
        border-radius: 30px;
    }

    .slide-media {
        height: 30px !important;
        width: 30px !important;
    }

    .single-item img {
        width: 90%;
        margin: 0 auto;
    }

    .media-and-price {
        margin: 0 auto;
        width: 90%;
    }

    .slide-desc {
        padding: 8px 25px;
    }

    .avatar-and-name {
        display: flex;
        text-align: right;
        align-items: center;
        justify-content: center;
    }

    .avatar-parent {
        margin: 0;
    }

    .strong {
        text-align: right;
    }

    .div-of-strong {
        margin-top: 5px;
        margin-right: 15px;
        line-height: 31px;
    }

    .header img {
        object-fit: cover;
        height: 260px;
    }

    .span-1 {
        font-size: 60px;
    }

    .span-2 {
        font-size: 33px;
    }

    .header img {
        width: 100%;
        object-fit: cover;
        height: 260px;
    }

    .description p {
        max-width: 434px;
        width: 370px;
    }
}

@media only screen and (min-width : 1024px) {
    .description p {
        width: 434px;
    }

    .span-1 {
        font-size: 75px;
    }

    .span-2 {
        font-size: 38px;
    }

    .header img {
        height: auto;
    }

    .grid-all {
        grid-template-columns: repeat(3, 1fr);
    }

    .cont {
        max-width: 80%;
        margin: 0 auto;
    }

    .previous {
        left: 90px;
    }
    
    .next {
        right: 90px;
    }

    .slide-desc {
        font-size: 20px;
    }

    .immo-nav {
        flex-direction: row-reverse;
    }

    #nav-icon1 {
        display: none;
    }

    #menu {
        display: none;
    }

    #menu-2 {
        display: block;
    }

    .immo-nav {
        justify-content: space-around;
    }

    .home-div {
        display: flex;
        background: #3f4aab;
        padding: 30px;
        border-bottom-left-radius: 40px;
        border: 2px solid #f2eefc;
        border-bottom-right-radius: 40px;
    }

    .search-div,
    #menu-2,
    .nav-list-div-descktop {
        display: block;
    }

    .drop-down-immo-nav {
        display: none;
    }
}